{% extends 'base.html.twig' %}

{% block title %}index sortir.com{% endblock %}

{% block body %}
   <h1>Bienvenue sur le site de Sortir.com</h1>
   <h2>Ceci est la liste de toutes nos sorties disponible !</h2>
   <img src="{{asset('img/ENIEcole.jpg')}}" alt="">
{% endblock %}
