{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(afficherForm) }}
    {{ form_widget(afficherForm) }}
    <button>Test</button>
    {{ form_end() }}

{% endblock %}

{% block title %}

{% endblock %}

