<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        {# notre google font #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap" >
        {# le favicon #}
        <link rel="icon" href="">
        {% block stylesheets %}
            {# notre css #}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

    </head>
    <body>
    {# entête du site #}
    <header>
        <div class="container">
            <h1 class="header-logo">
                <a href="{{ path('index') }}" title="Go back to homepage">
                    <img src="{{ asset('img/ENIEcole.jpg') }}" alt="Tp de Démo">Sortir.com
                </a>
            </h1>
            <nav class="header-nav">
                <a href="" title="Go back to homepage">Accueil</a>
                <a href="" title="All things to do">Liste des Sorties</a>


            </nav>
        </div>
    </header>
    {# contenu principal de chaque page #}
    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>
    </body>
</html>
