{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon profil</h1>
    {{ form_start(profilForm)}}

    {{ form_widget(profilForm) }}
    <button>Enregistrer</button>
    <button>Annuler</button>
    {{ form_end(profilForm)}}


{% endblock %}

{% block title %}
    index sortir.com
{% endblock %}





