{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2 class="mt-2 text-center">Filtrer sortie</h2>
    <form>

    </form>
    <div>
        <tr>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Clôture</td>
            <td>inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Inscrit</td>
            <td>Organisaeur</td>
            <td>Actions</td>
        </tr>
    </div>

{% endblock %}
